/*Variables*/
:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-lightblack: #333333;
  --basic-blue: #81B3D2;
  --basic-gray: #EEEEEE;
  --basic-brown: #766357;
  --basic-whitefooter: rgba(255, 255, 255, 0.9);

  --hover-blue: #669EC0;
  --active-blue: #5496BD;

  --special-gray: #F2F2F2;
  --special-gray2: #CACACA;
  --special-gray3: #666666;


  --hover-brown:  #604E43;
  --active-brown: #503E33;

  --active-logotip: #BDBBBC;
}
/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat:no-repeat;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Main-main_navigation */

.site-navigation {
  font-weight: bold;
  background-color: transparent;
}

.nav-link {
  color: var(--basic-black);
}

.nav-link:hover {
color: var(--basic-blue);
}

.nav-link:active {
  opacity: 0.3;
}
/*как сделать цвет для активной страницы?*/

/*Welcome*/

.welcome1 {
 width: 1200px;
 height: 509px;
 left: 40px;
 top: 55px;
 border-color: var(--basic-white);
 background-image: url("../img/photo.jpg");
}

.img-welcome {
display: block;
margin-left: auto;
margin-right: auto;
}

/*Reason*/

.reason-h2 {
 font-weight: bold;
 font-size: 21px;
 color: var(--basic-black);
 text-align: center;
}

.reason-p {
 color: var(--basic-lightblack);
 text-align: center;
}

/*Features*/

.features-item-block1 {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features-h3 {
 font-weight: bold;
 font-size: 21px;
 line-height: 21px;

}

.features-block2 {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.features-item-block3 {
 background-color: var(--basic-gray);
 color: var(--basic-black);
}

/*Interest*/

.button-interest {
 font-weight: bold;
 font-size: 30px;
 line-height: 24px;
 color: var(--basic-lightblack);
}

/*Footer*/

.main-footer {
  background-color: var(--basic-whitefooter);
}

.telephone,
.button-visit {
 font-weight: bold;
}

.social-list a {
  background-color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:active {
  background-color: var(--active-blue);
}

/*Modal*/

.hotel {
 font-weight: bold;
 font-size: 21px;
 color: var(--basic-white);
 background-color: var(--basic-brown);
}

.button-search {
 font-weight: bold;
 font-size: 21px;
 color: var(--basic-white);
 background-color: var(--basic-blue);
}

.hotel:hover {
  background-color: var(--hover-brown);
}

.hotel:active {
  background-color: var(--active-brown);
}

.button-search:hover {
  background-color: var(--hover-blue);
}

.button-search:active {
  background-color: var(--active-blue);
}

/*Catalog*/

/*h3 in Catalog*/

.catalog-h3 {
 font-weight: bold;
 font-size: 21px;
}

/*Filter*/

.filter {
 width: 1200px;
 height: 217px;
 left: 40px;
 top: 56px;
 background-image: url("../img/catalog.jpg");
}

/*Found*/
.sorting {
 font-size: 12px;
 line-height: 18px;
}

button[type="button"] {
 font-size: 12px;
 line-height: 18px;
}

.button1 {
 color: var(--basic-blue);
}

.button2,
.button3 {
 border: 1px dashed #81B3D2;
 opacity: 0.3;
 }

.button2:hover,
.button3:hover {
  color: var(--basic-blue);
}

.button1:active,
.button2:active,
.button3:active {
 color: var(--basic-black);
}

/*Arrows*/

.up-arrows {
 background-color: var(--special-gray2);
}

.down-arrows {
 background-color: var(--basic-blue);
}

.up-arrows:hover,
.down-arrows:hover {
 background-color: var(--basic-black);
}

.up-arrows:active,
.down-arrows:active {
 background-color: var(--basic-blue);
}

/* list */

.hotel-h3:hover {
 color: var(--basic-blue);
}

.hotel-h3:active {
 color: var(--basic-black);
 opacity: 0.3;
}

.detail,
.booking {
 font-weight: bold;
 line-height: 21px;
 color: var(--basic-white);
}
.detail {
 background-color: var(--basic-blue);
}

.booking {
 background-color: var(--basic-brown);
}

.detail:hover {
 background-color: var(--hover-blue);
}

.detail:active {
  background-color: var(--active-blue);
  opacity: 0.3;
}

.booking:hover {
 background-color: var(--hover-brown);
}

.booking:active {
  background-color: var(--active-brown);
  opacity: 0.3;
}

.rating {
  line-height: 21px;
  background-color: var(--special-gray);
  color: var(--special-gray3);
}
.star {
  color: var(--basic-blue);
}
