/*Variables*/
:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-lightblack: #333333;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --basic-brown: #766357;
  --basic-whitefooter: rgba(255, 255, 255, 0.9);

  --hover-blue: #669ec0;
  --active-blue: #5496bd;

  --special-gray: #f2f2f2;
  --special-gray2: #cacaca;
  --special-gray3: #666666;

  --hover-brown: #604e43;
  --active-brown: #503e33;

  --active-logotip: #bdbbbc;
  --basic-background: #888888;

  --basic-line: #E5E5E5;
  
  --basic-toggle: #ababab;

  --active-copyright: #231F20;

  --box-shadow: rgba(0, 1, 1, 0.2);
}
/* Global */


body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px 15px var(--box-shadow);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Стили для ul */

.site-navigation,
.features-list-block1,
.features-list-block2,
.features-list-block3,
.features-list-block4,
.contact-list,
.social-list,
.list-hotel, 
.filter-ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

/*Стили для li*/

.reason-h2,
.button-visit,
.telephone,
.catalog-h3 {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
}

/*Main-main_navigation */

.main-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 56px;
}


.style-nav1 {
  margin-left: 73px;
}
.style-nav2 {
  margin-left: 133px;
  margin-right: 209px;
}
.style-nav3 {
  margin-left: 209px;
  margin-right: 147px;
}

.logo1 {
  height: 0; 
}

.logo-div {
  position: relative;
  height: 70px;
  padding-left: 531px;
  z-index:1;
}

.nav-link {
  font-weight: bold;
  color: var(--basic-black);
}

.site-navigation .active {
  color: var(--basic-brown);
}
.nav-link:hover {
  color: var(--basic-blue);
}

.nav-link:active {
  opacity: 0.3;
}

/*как сделать цвет для активной страницы?*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/*Welcome*/

.welcome1 {
  width: 1200px;
  height: auto;
  background-image: url("../img/contur.png"), url("../img/photo.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

.img-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 81px;
}

/*Reason*/

.reason {
  text-align: center;
  height: 216px;
  background-color: var(--basic-white);
}

.reason-h2 {
  padding: 43px 365px 16px;
}

.reason-p {
  color: var(--basic-lightblack);
  padding: 0px 340px 51px;
}

/*Features*/

.features-list-block1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 256px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features-item1 {
 width: 400px;
 height: 256px;
 text-align: center;
}

.features-h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding-top: 24px;
}

.features .pclass {
  padding-bottom: 54px;
  line-height: 21px;
}
.pclass{
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}
.features-list-block2 {
  display: flex;
  justify-content: space-around;
  height: 330px;
  text-align: center;
}

.features-list-block2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.features-item2 {
  padding-top: 60px;
}
.features-block2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-list-block3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 256px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center; 
}

.features-list-block4 {
  display: flex;
  justify-content: space-around;
  background-color: var(--basic-gray);
  height: 256px;
  text-align: center;
}

/*Interest*/

.div-interest {
  display: grid;
  grid-template-rows: 1fr;
  height: 291px;
}

.button-interest {
  color: var(--basic-lightblack);
  padding-top: 58px;
  text-align: center;
}

.button-interest h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}
.button-interest p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
/*Footer*/

.map {
  height: 474px;
  background-image: url("../img/map.png");
}

.main-footer {
  width: 1200px;
  height: 120px;
  background-color: var(--basic-whitefooter);
  margin: 0 auto;
  padding:0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.contact-list {
  margin-top: 23px;
  margin-bottom: 36px;
}
.button-visit {
  margin-left: 153px;
}
.telephone {
  margin-left: 111px;
}
.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 163px;
  margin-right: 190px;
}

.style-social {
  display: flex;
  flex-direction: row;
  width: 48px;
  height: 49px;
  background-color: var(--basic-blue);
  margin-right: 6px;
  justify-content: center;
  align-items: center;
}

.social-button {
  display: flex;
  align-items: center;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.p-copy {
  margin-right: 8px;
}
/* Стили footer */

.style-social:hover {
  background-color: var(--hover-blue);
}

.style-social:active {
  background-color: var(--active-blue);
}
.style-social.social-button:active {
  background-color: var(--active-blue);
}
.svgfooter:hover {
  fill: var(--active-blue); 
}
.svgfooter:active {
  fill: var(--active-copyright);
  opacity: 0.3;
}

/*Modal*/

.modal {
  width: 568px;
  max-height: 481px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 568px;
  height: 86px;
  background-color: var(--basic-brown);
}

.hotel {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
}

.button-search {
  min-width: 458px;
  min-height: 58px;  
  background-color: var(--basic-blue);
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  margin: 0px 55px 55px 55px;
}

.modal-title:hover {
  background-color: var(--hover-brown);
}

.modal-title:active {
  background-color: var(--active-brown);
}
.modal-title .hotel:active {
 opacity: 0.3;
}

.button-search:hover {
  background-color: var(--hover-blue);
}

.button-search:active {
  background-color: var(--active-blue);
}
.button-search span:active {
  opacity: 0.3;
}
/* Форма модального окна */

.date-check {
  width: 458px;
  height: 58px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 55px 55px 29px 55px;
  
}

.date-check input {
  display: flex;
  min-width: 348px;
  min-height: 38px;
  border: none;
  background-color: #F2F2F2;
  margin: 0px 0px 29px 0px;
}

.date-check label {
  margin: 0px 0px 29px 0px;
}

.amounts {
  width: 458px ;
  min-height: 38px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 55px 54px 55px;
}
.amounts input {
  width: 114px;
  height: 38px;
  border: none;
  background-color: #F2F2F2;
  margin-top: 58px;
}
.amounts label {
  margin-top: 58px;
}

/*Catalog*/

.page-catalog {
  background-color: var(--basic-white);
}

hr {
  height: 1px;
  background-color: var(--basic-line);
  border: none;
}

/*Filter*/

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 1200px;
  height: 217px;
  background-image: url("../img/catalog.jpg");
}

.filter-item1,
.filter-item2,
.filter-item3 {
  border: none;
  padding: 0;
  margin: 0;
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  }

.filter-item1 legend,
.filter-item2 legend,
.filter-item3 legend {
  margin-bottom: 24px;
}

.filter-item1 {
  margin: 27px 0px 0px 73px;
}

.filter-item2 {
  margin: 27px 46px 0px 119px;
}

.filter-item3 {
  margin: 27px 73px 0px 301px;
}

.filter-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 138px;
  height: 91px;
  color: var(--basic-white);
  line-height: 21px;
}

.filter-option {
  padding-bottom: 25px; 
}

.filter-item1 label {
  padding-left: 17px;
}

.filter-item2 label {
  padding-left: 18px;
}

.range-filter {
  width: 317px;
  height: 91px;
  margin-top: 10px;
}

.price-controls {
  width: 317px;
  height: 36px;
  display: flex;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border: none;
}

.range-controls {
 position: relative;
 width: 316px;
 height: 21px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-white);
  margin-top: 20px;
  margin-bottom: 33px;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-gray);
  opacity: 0.3;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-toggle);
}

.range-controls .toggle-max {
  left: 160px;
}

/*Found*/

.price-type {
  width: 1200px;
  min-height: 86px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  border: none;
}

.catalog-h3 {
  margin-left: 73px;
  margin-right: 46px;
}

.sorting span {
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  width: 75px;
}

.button1 {
  margin-right: 32px;
  font-size: 12px;
  line-height: 18px;
  min-width: 49px;
 
  background-color: var(--basic-white);
}

.button2 {
  margin-right: 33px;
  text-transform: uppercase;
  min-width: 49px;
  font-size: 12px;
  line-height: 18px;
  background-color: var(--basic-white);
}

.button3 {
  min-width: 76px;
  font-size: 12px;
  line-height: 18px;
  background-color: var(--basic-white);
  text-align: center;
  margin: 0;
}

.button2, 
.button3 {
  border-bottom: 1px dashed var(--basic-blue);
  opacity: 0.3;
}

.button1 {
  color: var(--basic-blue);
}

.button2:hover,
.button3:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.button1:active,
.button2:active,
.button3:active {
  color: var(--basic-black);
}

.arrows {
  display:flex;
  position: relative;
  margin-left: 503px;
  margin-right: 73px;
}

.up, 
.down {
  background-color: var(--basic-white);
  border: none;
  padding-right: 6px;
}

.svgitem:hover {
fill: var(--basic-black);
}

.svgitem:active {
  fill: var(--basic-blue);
} 

/* list */

.item-hotel {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  min-width: 1200px;
}

.imghotel {
  margin: 30px 29px 0px 73px;
  min-width: 135px;
  min-height: 90px;
}

.texthotel {
  display: flex;
  flex-direction: column;
  margin: 0px 522px 0px 0px;
}

.texthotel .hotel-h3 {
  padding-bottom: 7px;
}

.hotel-list {
  min-width: 240px;
  min-height: 26px;
  font-weight: bold;
  font-size: 21px;
  margin: 24px 0px 0px 0px;
}

.pclasshotel {
  margin: 0;
  padding: 7px 0px 15px 0px;
}

.detail {
  margin: 0;
}

.detailtext,
.bookingtext {
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
}
  
.detailtext {
  background-color: var(--basic-blue);
  width: 110px;
  height: 27px;
  margin-right: 6px;
}

.bookingtext {
  background-color: var(--basic-brown);
  width: 142px;
  height: 27px;
}

.star-raiting {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  width: 120px;
  height: 150px;
  padding-top: 29px;
}

.star {
  padding-left: 5px;
}

.star:last-child {
  padding-left: 0px;
}

.raiting {
  width: 110px;
  height: 27px;
  background-color: var(--special-gray);
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
  line-height: 21px;
  color: var(--special-gray3);
}

.hotel-list:hover {
  color: var(--basic-blue);
}

.hotel-list:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.detailtext:hover {
  background-color: var(--hover-blue);
}

.detailtext:active {
  background-color: var(--active-blue);
}

.detailtext span:active {
  opacity: 0.3;
}

.bookingtext:hover {
  background-color: var(--hover-brown);
}

.bookingtext:active {
  background-color: var(--active-brown);
}

.bookingtext span:active {
  opacity: 0.3;
}
