/*Variables*/
:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-lightblack: #333333;
  --basic-blue: #81b3d2;
  --basic-gray: #eeeeee;
  --basic-brown: #766357;
  --basic-whitefooter: rgba(255, 255, 255, 0.9);

  --hover-blue: #669ec0;
  --active-blue: #5496bd;

  --special-gray: #f2f2f2;
  --special-gray2: #cacaca;
  --special-gray3: #666666;

  --hover-brown: #604e43;
  --active-brown: #503e33;

  --active-logotip: #bdbbbc;
  --basic-background: #888888;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0 40px;
  padding: 0;
  text-transform: uppercase;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Стили для ul */

.site-navigation,
.features-list-block1,
.features-list-block2,
.features-list-block3,
.features-list-block4,
.contact-list,
.social-list,
.list-hotel {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

/*Стили для li*/

.reason-h2,
.button-visit,
.telephone,
.catalog-h3 {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
}





/*Main-main_navigation */
.main-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.flex-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.logo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  font-weight: bold;
  color: var(--basic-black);
}

.nav-link:hover {
  color: var(--basic-blue);
}

.nav-link:active {
  opacity: 0.3;
}

/*как сделать цвет для активной страницы?*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/*Welcome*/

.welcome1 {
  width: 1200px;
  height: auto;
  background-image: url("../img/photo.jpg");
  background-size: auto;
}

.img-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 81px;
}

/*Reason*/

.reason {
  text-align: center;
}

.reason-h2 {
  padding: 43px 365px 16px;
}

.reason-p {
  color: var(--basic-lightblack);
  padding: 0px 340px 51px;
}

/*Features*/
.features {
  display: flex;
  flex-direction: column;
}

.features-list-block1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 256px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
}

.foto-features1 {
  display: flex;
  align-self: flex-end;
}

.features-list-block2 {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.features-list-block3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 256px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center; 
}

.foto-features2 {
  display: flex;
  align-self: flex-start;
}

.features-list-block4 {
  display: flex;
  justify-content: space-around;
  background-color: var(--basic-gray);
  height: 256px;
  text-align: center;
}

.features-h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-item-block1 {
  padding: 47px 51px 54px 52px;
}

.features-list-block2 {
  padding-top: 55px;
  padding-bottom: 81px;
}

.features-item-block3 {
  padding: 50px 49px 51px 50px;
}

.features-item-block4 {
  padding-top: 47px;
  padding-bottom: 54px;
}
/*Interest*/
.div-interest {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
.button-interest {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-lightblack);
  padding-top: 51px;
}

/*Footer*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-whitefooter);
}
.contact-list {
  text-align: center;
  margin-top: 23px;
}
.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 400px;
  text-align: center;
  margin-top: 36px;;
}

.footer-copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 400px;
  text-align: center;
  margin-top: 41px;
}

.style-social {
  background-color: var(--basic-blue);
}

.social-button:hover {
  background-color: var(--hover-blue);
}

.social-button:active {
  background-color: var(--active-blue);
}

/*Modal*/

.hotel {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-search {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.hotel:hover {
  background-color: var(--hover-brown);
}

.hotel:active {
  background-color: var(--active-brown);
}

.button-search:hover {
  background-color: var(--hover-blue);
}

.button-search:active {
  background-color: var(--active-blue);
}

/*Catalog*/

/*Filter*/

.filter {
  width: 1200px;
  height: 217px;
  background-image: url("../img/catalog.jpg");
}

/*Found*/

.found {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button1, 
.button2, 
.button3 {
  margin-left: 30px;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  margin-left: 46px;
}

/* LIST */

.item-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 110px;
  margin-bottom: 54px;
}

.button1 {
  color: var(--basic-blue);
}

.button2,
.button3 {
  border: 1px dashed var(--basic-blue);
  opacity: 0.3;
}

.button2:hover,
.button3:hover {
  color: var(--basic-blue);
}

.button1:active,
.button2:active,
.button3:active {
  color: var(--basic-black);
}

/*Arrows*/

.up-arrows {
  background-color: var(--special-gray2);
}

.down-arrows {
  background-color: var(--basic-blue);
}

.up-arrows:hover,
.down-arrows:hover {
  background-color: var(--basic-black);
}

.up-arrows:active,
.down-arrows:active {
  background-color: var(--basic-blue);
}

/* list */

.hotel-h3:hover {
  color: var(--basic-blue);
}

.hotel-h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.detail,
.booking {
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
}
.detail {
  background-color: var(--basic-blue);
}

.booking {
  background-color: var(--basic-brown);
}

.detail:hover {
  background-color: var(--hover-blue);
}

.detail:active {
  background-color: var(--active-blue);
  opacity: 0.3;
}

.booking:hover {
  background-color: var(--hover-brown);
}

.booking:active {
  background-color: var(--active-brown);
  opacity: 0.3;
}

.rating {
  line-height: 21px;
  background-color: var(--special-gray);
  color: var(--special-gray3);
}
.star {
  color: var(--basic-blue);
}
